*.pyc
*.user
*.ncb
*.suo
*.sdf
*.opensdf
*.idc
*.dylib
*.so
*.tmp
.*.swp

.DS_Store

.vscode*

output/
build/

llbc/lib/
llbc/linux/

testsuite/bin/
testsuite/linux/

wrap/pyllbc/lib/
wrap/pyllbc/linux/

!.gitignore

llbc.lua
