*.pyc
*.user
*.ncb
*.suo
*.sdf
*.opensdf
*.idc

.DS_Store

Debug/
Release/
vcprojs/vs2008/Debug/
vcprojs/vs2008/Release/

iOSBuild/*.xcodeproj/xcuserdata/
iOSBuild/*.xcodeproj/project.xcworkspace/xcuserdata/

output/
build/

llbc/lib/
llbc/linux/

testsuite/bin/
testsuite/linux/

wrap/pyllbc/lib/
wrap/pyllbc/linux/

!.gitignore
