*.pyc
*.user
*.ncb
*.suo
*.sdf
*.opensdf
*.idc
*.dylib
*.so
*.tmp
.*.swp
.DS_Store

.vscode/
.idea/

iOSBuild/*.xcodeproj/xcuserdata/
iOSBuild/*.xcodeproj/project.xcworkspace/xcuserdata/

build/
output/

# wrap/lullbc
wrap/lullbc/src/_LullbcMethods.h

# wrap/pyllbc
wrap/pyllbc/src/pyllbc_scripts.h
wrap/pyllbc/src/common/_CommonMethods.h
wrap/pyllbc/src/core/_CoreMethods.h
wrap/pyllbc/src/comm/_CommMethods.h
wrap/pyllbc/src/app/_AppMethods.h
wrap/pyllbc/src/testcase/_TestcaseMethods.h

!.gitignore
